<!DOCTYPE html>
<html>
  <head>
    <title>FiTracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Data Entry Page</h2>
    <hr width="90%">
    <p>Welcome to FitTracker! </br>To begin, please create a new category and enter in your data.</p>

    <div id="new-category">
      <form action="" method="">
        <label for="category-name">Input new category</label>
        <input type="text" name="category-name" placeholder="Eg: Body Weight" required>
      </form>
    </div>

    <button type="enter-category">Enter</button>

    <div id="data-entry">
      <form action="" method="">
        <label for="value">Value</label>
        <input type="number" name="value" required>

        <label for="unit">Unit</label>
        <input type="number" name="unit" required>

        <label for="date">Value</label>
        <input type="number" name="date" placeholder="MMDDYYYY" required>
      </form>
    </div>

    <button type="enter-data">Submit Data</button>

    
    <div id="Footer">
      <footer>
        Team Ashraf has pizza for every meal
      </footer>
    </div>
  </body>
</html>
