<!DOCTYPE html>
<html>
  <head>
    <title>FiTracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ashraf Has Pizza For Every Meal</h1>
    <p>Godbless</p>
  </body>
</html>
