<!DOCTYPE html>
<html>

<head>
  <title>FitTracker</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h2>Data Entry Page</h2>
  <hr width="90%">
  <p>Welcome to FitTracker! </br>To begin, please create a new category and enter in your data.</p>

  <div id="new-category">
    <form action="" method="" class = "intro">
      <label for="category-name">Input new category</label>
      <input type="text" name="category-name" placeholder="Eg: Body Weight" required>
    </form>
    <button type="button" id="newCategoryBtn">Enter</button>
  </div>

  

<div id="category-1">
    <p id="category-1-name">Category 1</p>
    <form action="" method="" class = "c1">
      <label for="value1" class = "label1">Value</label>
      <input type="number" name="value1" required>

      <label for="unit1" class="label1">Unit</label>
      <input type="number" name="unit1" required>

      <label for="date1" class = "label1">Date</label>
      <input type="number" name="date1" placeholder="MMDDYYYY" required>
    </form>
    <button type="button" id="button1">Submit Data 1</button>
  </div>

</br>

<div id="category-2">
    <p id="category-2-name">Category 2</p> 
    <form action="" method="" class = "c2">  
       <label for="value2" class = "label2">Value</label>
       <input type="number" name="value2" required>

       <label for="unit2" class = "label2">Unit</label>
       <input type="number" name="unit2" required>

       <label for="date2" class = "label2">Date</label>
       <input type="number" name="date2" placeholder="MMDDYYYY" required>
    </form> 
    <button type="button" id="button2">Submit Data 2</button>    
</div> 

</br>

<div id="category-3">
    <p id="category-3-name">Category 3</p>
    <form action="" method="" class = "c3">
      <label for="value3" class = "label3">Value</label>
      <input type="number" name="value3" required>

      <label for="unit3" class = "label3">Unit</label>
      <input type="number" name="unit3" required>

      <label for="date3" class = "label3">Date</label>
      <input type="number" name="date3" placeholder="MMDDYYYY" required>
    </form>
    <button type="button" id="button3">Submit Data 3</button>
  </div> 

</br>

<div id="category-4">
    <p id="category-4-name">Category 4</p>
    <form action="" method="" class = "c4">
      <label for="value4" class = "label4">Value</label>
      <input type="number" name="value4" required>

      <label for="unit4" class = "label4">Unit</label>
      <input type="number" name="unit4" required>

      <label for="date4" class = "label4">Date</label>
      <input type="number" name="date4" placeholder="MMDDYYYY" required>
    </form>
    <button type="button" id="button4">Submit Data 4</button>
</div> 

</br>

<div id="category-5">
<p id="category-5-name">Category 5</p>
<form action="" method="" class = "c5">
<label for="value5" class = "label5">Value</label>
<input type="number" name="value5" required>

<label for="unit5" class = "label5">Unit</label>
<input type="number" name="unit5" required>

<label for="date5" class ="label5">Date</label>
<input type="number" name="date5" placeholder="MMDDYYYY" required>
</form>
<button type="button" id="button5">Submit Data 5</button>
</div> 

</br> 

<div id="category-6">
<p id="category-6-name">Category 6</p>
<form action="" method="" class = "c6">
  <label for="value6" class = "label6">Value</label>
  <input type="number" name="value6" required>

  <label for="unit6" class = "label6">Unit</label>
  <input type="number" name="unit6" required>

  <label for="date6" class = "label6">Date</label>
  <input type="number" name="date6" placeholder="MMDDYYYY" required>
</form>
<button type="button" id="button6">Submit Data 6</button>
</div>

  <div id="Footer">
    <footer>
      Team Ashraf has pizza for every meal
    </footer>
  </div>
  
  <script>
    function handleNewCategory(category){
      document.getElementById("category-1-name").innerHTML = category;
    }
    document.getElementById("newCategoryBtn").addEventListener("click", handleNewCategory(document.getElementById("category-name").innerHTML));
  </script>
  
</body>

</body> 
</html>